/* CSS Document */

/*
    @名称: base
    @功能: 重设浏览器默认样式
*/

/* 防止用户自定义背景颜色对网页的影响 */
html {
    color: #000;
    background: #fff;
}

/* 内外边距通常让各个浏览器样式的表现位置不同 */
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td, hr, button {
    margin: 0;
    padding: 0;
}

/* 要注意表单元素并不继续父级 font 的问题 */
body, button, input, select, textarea {
    font: 12px/1.5 tahoma, arial, \5b8b\4f53;
}

input, select, textarea {
    font-size: 100%;
}

/* 去掉各Table  cell 的边距并让其边重合 */
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* IE bug fixed: th 不继承 text-align*/
th {
    text-align: inherit;
}

/* 去除默认边框 */
fieldset, img, a img {
    border: 0;
}

/* ie6 7 8(q) bug 显示为行内表现 */
iframe {
    display: block;
}

/* 去掉 firefox 下此元素的边框 */
abbr, acronym {
    border: 0;
    font-variant: normal;
}

/* 一致的 del 样式 */
del {
    text-decoration: line-through;
}

address, caption, cite, code, dfn, em, th, var {
    font-style: normal;
    font-weight: 500;
}

/* 去掉列表前的标识, li 会继承 */
ol, ul {
    list-style: none;
}

/* 对齐是排版最重要的因素, 别让什么都居中 */
caption, th {
    text-align: left;
}

/* 来自yahoo, 让标题都自定义, 适应多个系统应用 */
h1, h2, h3, h4, h5, h6 {
    font-size: 100%;
    font-weight: 500;
}

q:before, q:after {
    content: '';
}

/* 统一上标和下标 */
sup {
    vertical-align: text-top;
}

sub {
    vertical-align: text-bottom;
}

/* 让链接在 hover 状态下显示下划线 */
a:hover {
    text-decoration:none;
}

/* 默认显示下划线，保持页面简洁 */
ins, a {
    text-decoration: none;
}
a{
    /*outline: none;*/
}

/* 去除带链接图片的边框 */
a img {
    border: none;
}